<%- include('header'); %>
<div class="jumbotron">
  <h1 class="display-4">You Success Log-in</h1>
  <p class="lead">
    This is a simple text.
  </p>
  <hr class="my-4" />
  <p class="lead">
    <form method="POST">
        <button type="submit" class="btn-lg btn btn-outline-primary" name="backbt">Go back</button>
    </form>
  </p>
</div>
<%- include('footer'); %>
