<%- include('header'); %>
<body class="text-center">
  <div class="form-signin centered">
    <img class="mb-4" src="img/passport.svg" alt="" width="72" height="72" />
    <h1 class="h3 mb-3 font-weight-normal">Main Page</h1>
    <form action="" method="POST">
        <button name ="login" type="submit" class="btn btn-primary btn-block">Log in</button>
        <button name="register" type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
    <p class="mt-4 mb-3 text-muted">&copy; 2017-2020</p>
  </div>
</body>
<%- include('footer'); %>
